doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    name(name='viewport' content='width=device-width, initial-scale=1')
    title Согласные в иврите
    script(type='text/javascript' src='index.js')
    link(rel='stylesheet', href='index.css')
  body.alphabet
    h2 Алфавит

    table.alphabet-table.table.table-striped
      thead
        tr
          th №
          th В начале
          th В конце
          th Название
          th Транслит.
      tbody.alphabet-table-body

    h2 Проверь себя

    .alphabet-test
      .alphabet-test-content
        .alphabet-test-question
      .alphabet-test-controlls
        .alphabet-test-anwers
          button.alphabet-test-answer.alphabet-test-answer-1.btn.btn-default.btn-block
          button.alphabet-test-answer.alphabet-test-answer-2.btn.btn-default.btn-block
          button.alphabet-test-answer.alphabet-test-answer-3.btn.btn-default.btn-block
          button.alphabet-test-answer.alphabet-test-answer-4.btn.btn-default.btn-block
